.my{
  height: 100%;
  width: 100%;
  .nologtop{
    color: #fff;
    font-size: .2rem;
    width: 100%;
    height: 1.1rem;
    background: url(/first-youyaoqi/images/bg_mine_head.jpg);
    background-size: cover;
    .zhezhao{
      width: 100%;
      height: 100%;
      background:  rgba(0,0,0,0.3);
      @include flexbox();
      @include justify-content(center);
      @include align-items(center);
      .pleaselog{
        @include flex(1);
        p{
          font-size: .14rem;
        }
      }
      .header{
        width: .68rem;
        height: .68rem;
        margin:0 .14rem;
        background: rgba(255,255,255,0.7);
        border-radius: 50%;
        text-align: center;
        line-height: .675rem;
        img{
          height: .58rem;
          width: .58rem;
          border:1px solid;
          border-radius: 50%;
          overflow: hidden;
        }
      }
      i{
        margin-right: .26rem;

      }
    }
  }
  .content{
    background: #fff;
    b{
      color: #6c6c6c;
      line-height: 30px;
      font-weight: 100;
    }
    .threeul{
      @include flexbox();
      @include justify-content(center);
      @include align-items(center);
      li{
        @include flex(1);
        @include border(0 0 1px 0, #ddd, solid);
        @include flexbox();
        @include flex-direction(column);
        @include align-items(center);
        @include justify-content(center);
        @include box-sizing(border-box);
        &:nth-child(2){
            @include border(0 1px 1px 1px, #ddd, solid);
        }
        img{
          width: .8rem;
          height: .8rem;
        }
      }
    }
    .last{
      @include flexbox();
      @include justify-content(center);
      @include align-items(center);
      li{
        @include flexbox();
        @include flex-direction(column);
        @include align-items(center);
        @include justify-content(center);
        @include box-sizing(border-box);
        height:1.1rem;
        overflow: hidden;
        &:nth-child(1){
          @include flex(1);
          @include flexbox();
          @include flex-direction(column);
          @include align-items(center);
          @include justify-content(center);
          @include box-sizing(border-box);
          @include border(0 1px 1px 0, #ddd, solid);
          img{
            width: .8rem;
            height: .8rem;
          }
        }
        &:nth-child(2){
          @include flex(2);
          @include border(0 0 1px 0, #ddd, solid);
          img{
            width:100%;


          }
        }
      }
    }
  }
}
