@charset "utf-8";
@import "./core/swiper-3.3.1.min.css";
@import "../lib/core/reset";
@import "./core/common";



// layout

// layout
spa-app {
    position: absolute;
    overflow: hidden;
}

spa-view {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #eceef0 !important;
    @include flexbox(flex);
    @include flex-direction(column);
}

// Views
@import "./module/guide";
@import "./module/home";
@import "./module/ranking";
@import "./module/game";
@import "./module/index";
@import "./module/my";
@import "./module/login";
@import "./module/reg";

@import "./module/bookshelf";
