@font-face {
  font-family: yofont;
  src: url("/youyaoqi/images/iconfont/iconfont-dele.woff") format("woff"), url("/youyaoqi/images/iconfont/iconfont-dele.ttf") format("truetype");
}
@font-face {
  font-family: yofont;
  src: url("/youyaoqi/images/iconfont/iconfont-back.woff") format("woff"), url("/youyaoqi/images/iconfont/iconfont-back.ttf") format("truetype");
}
@font-face {
  font-family: yofont;
  src: url("/youyaoqi/images/iconfont/iconfont-desrc.woff") format("woff"), url("/youyaoqi/images/iconfont/iconfont-desrc.ttf") format("truetype");
}
